
html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(29, 28, 28);
    color: aliceblue;
}

* {
  box-sizing: border-box;
}

